modelsim/build*
modelsim/work/
modelsim/wlft*
simvectors/
.bender/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*~
build
dist
**/DumpO.egg*

*venv

.DS_Store
*.html

# Jupyter Notebook
.ipynb_checkpoints

# Ignore everything in .vscode with some exceptions
.vscode/*
!.vscode/launch.json
!.vscode/c_cpp_properties.json

simvectors
install
**/quantlib

logs

# Ignore Bender dependencies
deps

